[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

bumpversion = "*"
wheel = "*"
coverage = "*"
pytest = "*"
"flake8" = "*"
prospector = "*"
pytest-django = "*"
pytest-cov = "*"
docker-compose = "*"
model-mommy = "*"
dj-database-url = "*"
"psycopg2" = "*"
django-leaflet = "*"
django-jquery = "*"
djangorestframework-gis = "*"
"a0c22d1" = {file = "https://github.com/sigma-geosistemas/mommy_spatial_generators/archive/master.zip"}


[packages]

django = "*"
"flake8-docstrings" = "*"
python-geohash = "*"
